@CHARSET "UTF-8";

img{
	display: inline;
	/*margin-left: 45%;*/
}

h1{
	display: inline;
	font-family: 'Dosis', sans-serif; 
	font-size: 60px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

footer{
	position: absolute;
	top: 90%;
	left:5%;
	right:5%;
	
}

.panel-footer{
	border: 0px;
	background-color: white;
	position: fixed;
	left: 35%;
}

.texto-footer{
	left: 40%;
}
